<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentalAuto</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">RentalAuto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    @{
                        if (User.IsInRole("Администратор"))
                        {
                            @await Html.PartialAsync("RoleNavbarLayout/RoleAdmin")
                        }
                        else if (User.IsInRole("Менеджер"))
                        {
                            @await Html.PartialAsync("RoleNavbarLayout/RoleManager")
                        }
                        else if (User.IsInRole("Клиент"))
                        {
                            @await Html.PartialAsync("RoleNavbarLayout/RoleClient")
                        }
                        if (User.Identity == null || !User.Identity.IsAuthenticated)
                        {
                            @await Html.PartialAsync("RoleNavbarLayout/RoleAnonymous")
                        }
                    }
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>