@{
    ViewData["Title"] = "Регистрация пользователя";
}

@model RegisterModel

<link rel="stylesheet" href="~/css/account.css" />

<main class="form-account w-100 m-auto">
    <h2 class="text-center">Регистрация пользователя</h2>
    <form asp-action="RegisterAdmin" asp-controller="Account" asp-anti-forgery="true">
        <div>
            <div class="form-floating">
                <input asp-for="Login" class="form-control" id="Login" placeholder="Login"/>
                <label asp-for="Login" for="Login">Логин *</label>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" id="Password" placeholder="Password" />
                <label asp-for="Password" for="Password">Пароль *</label>
            </div>
            <div class="form-floating">
                <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="ConfirmPassword"/>
                <label asp-for="ConfirmPassword" for="ConfirmPassword">Повторите пароль *</label>
            </div>
            <div class="form-floating">
                <select class="form-control form-select" aria-label="form-select-lg example" asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, nameof(Role.Id), nameof(Role.Name)))"></select>
                <label asp-for="RoleId" for="RoleId">Роль *</label>
            </div>

            <div class="form-floating">
                <input asp-for="Name" class="form-control" id="Name" placeholder="Name"/>
                <label asp-for="Name" for="Name">Имя *</label>
            </div>
            <div class="form-floating">
                <input asp-for="Surname" class="form-control" id="Surname" placeholder="Surname"/>
                <label asp-for="Surname" for="Surname">Фамилия *</label>
            </div>

            <div class="form-floating">
                <input asp-for="Middlename" class="form-control" id="Middlename" placeholder="Middlename" />
                <label asp-for="Middlename" for="Middlename">Отчество</label>
            </div>

            <div class="form-floating">
                <input asp-for="Phone" class="form-control" id="Phone" placeholder="Phone" />
                <label asp-for="Phone" for="Phone">Номер телефона *</label>
            </div>

            <div class="form-floating">
                <input asp-for="Addres" class="form-control" id="Addres" placeholder="Addres" />
                <label asp-for="Addres" for="Addres">Адрес *</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
            <div  asp-validation-summary="All" ></div>
        </div>
    </form>
</main>

