<ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Car" asp-action="Index">Прокат машин</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Car" asp-action="Index">Информация о нас</a>
    </li>
</ul>
<div class="d-flex">
    <a class="btn me-3 btn-outline-success" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
    <a class="btn btn-outline-success" asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
</div>